@import '../settings/colors';
@import '../settings/mixins';
@import '../settings/fonts';

.projects {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 3px 3px 13px 3px rgba($color: #000000, $alpha: 0.3);

    h1 {
        text-align: center;
        @include fontDeclaration($fontPoppins, 18px, #fff);

        span {
            color: $colorPink;
        }
    }

    &__container {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        padding-top: 150px;

        .project__box {
            margin-left: -150%;
            width: 100%;
            height: 125px;
            border-bottom: 1px solid $colorLightDark;
            overflow: hidden;
            cursor: pointer;

            .box__title {
                @include fontDeclaration($fontGilroyHeavy, 96px, #fff);
                text-transform: uppercase;
                transition: .3s;

                span {
                    color: $colorPink;
                }
            }

            .box__subtitle {
                h2 {
                    @include fontDeclaration($fontGilroyHeavy, 32px, #fff);
                    text-transform: uppercase;
                    margin-top: 20px;
                }

                .technologies {
                    margin-top: 10px;

                    span {
                        width: 100%;
                        padding: 5px 10px;
                        background-color: $colorPink;
                        @include fontDeclaration($fontPoppins, 14px, #fff);
                        border-radius: 10px;
                        margin-right: 5px;
                    }

                    span.software {
                        background-color: $colorBlue;
                    }
                }
            }

            /* .box__image {
                position: absolute;
            } */

            .box__imageForMobile {
                display: none;
            }

            .btnForMobile {
                display: none;
            }

            &:hover {
                .box__title {
                    h2 {
                        margin-top: -110px;
                    }
                }

/*                 .box__image {
                    opacity: 1;
                } */
            }
        }

        .first.show {
            animation: animateProjects 1s 0s linear both;
        }
    }
}